* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    --fondo-dias-semana : #09f;
    --fondo-celda-laboral: color-mix(in srgb, var(--fondo-dias-semana) 20%, white 80%);
    --fondo-numero-semana: color-mix(in srgb, var(--fondo-dias-semana) 50%, yellow 50%);
    --festivo : red;
    --blanco: white;
    display:flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.cabecera {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}
 
.contenedor {
    display: grid;
    grid-template-columns: 30px 1fr;
    grid-template-rows: 30px 1fr;
    flex: 1;
    gap: 3px;
    border:3px solid rgb(128, 0, 0);
    box-sizing: border-box;
}

.contenedor > span {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  var(--fondo-numero-semana);
}



.contenedor .titulo-dia {
    display: flex;
    flex-direction: row;
    background-color: var(--fondo-dias-semana);
    justify-content: space-between;
    align-items: center;

    & span {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid beige;
        font-size: 1.75rem;
        font-weight: 800;
        color: var(--blanco);
        height: 100%;
        width: 100%;
    }

     .domingo {
        background-color: var(--festivo);
    }
}

.festivo {
    color: var(--festivo);
    border:1px dashed var(--festivo);
}

.numero-semana {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3px;

    & span {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        background-color:  var(--fondo-numero-semana);
    }
}

.contenedor-dias {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 100%;
    gap: 3px;
    font-weight: 700;
 
    span {
        line-height: 3.5rem;
        background-color: var(--fondo-celda-laboral);
        font-size: 4rem;
        margin:0;
        padding-left: 5px;
        
    }

    & .num-semana {
        background-color: var(--fondo-numero-semana);
    }

    & .sabado, .domingo {
        background-color: lemonchiffon;
    }

    & .domingo {
        border:1px dashed var(--festivo);
        color: var(--festivo);
    }
}

.start-day {
    grid-column-start: 4;
}   


@media screen and (max-width: 991px) {
    .titulo-dia span {
        font-size: 0;  
        position: relative;
    }
    
    .titulo-dia span::before {
        content: attr(data-med);
        font-size: 1.75rem; 
        position: absolute;
        inset: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 767px) {
    .titulo-dia span {
        font-size: 0;  
        position: relative;
    }
    
    .titulo-dia span::before {
        content: attr(data-short);
        font-size: 1.75rem;  
        position: absolute;
        inset: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


 /* 
    OSCURECER MEZCLANDO NEGRO
    background: color-mix(in srgb, #09f 90%, black 10%);
  
    ACLARAR MEZCLANDO BLANCO
    border-color: color-mix(in srgb, #09f 90%, white 10%);

  */