* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    --fondo-dias-semana : #09f;
    --fondo-celda-laboral: color-mix(in srgb, var(--fondo-dias-semana) 20%, white 80%);
    --fondo-numero-semana: color-mix(in srgb, var(--fondo-dias-semana) 50%, yellow 50%);
    --fondo-fin-de-semana:lemonchiffon;
    --fondo-otro-mes: #f3f1f1ca;
    --borde-otro-mes: #888;
    --festivo : red;
    --blanco: white;


    display:flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    min-width: 375px;
}

.cabecera {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}
 
.contenedor {
    display: flex;
    gap: 3px;
    box-sizing: border-box;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}

main {
    border:10px hidden rgb(174, 0, 255);
    border-radius: 8px;
}

.contenedor > span {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  var(--fondo-numero-semana);
}


.festivo {
    color: var(--festivo);
    border:1px dashed var(--festivo);
}

.numero-semana {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3px;

    & span {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        background-color:  var(--fondo-numero-semana);
    }

}

.numero-semana span:first-child {
    display: flex;
    align-items: center;
    align-content: center;
    height: 80px;

}

.contenedor-dias {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 22px repeat(5, 1fr);
    height: 100%;
    width: 100%;
    gap: 3px;
    font-weight: 700;
 
    span {
        line-height: 3.5rem;
        background-color: var(--fondo-celda-laboral);
        font-size: 4rem;
        margin:0;
        padding-left: 5px;
        
    }

    & .dia-semana {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
        background-color: var(--fondo-dias-semana);
        font-size: 1.5rem;
        line-height: 0.9;  
        color: var(--blanco)
    }
}



.contenedor-dias span:nth-of-type(7n) {
    color: var(--festivo);
    background-color: var(--fondo-fin-de-semana);
    border:1px dashed var(--festivo);
}

.contenedor-dias :nth-of-type(6),
.contenedor-dias :nth-of-type(13),
.contenedor-dias :nth-of-type(20),
.contenedor-dias :nth-of-type(27),
.contenedor-dias :nth-of-type(34),
.contenedor-dias :nth-of-type(41) {
    background-color: var(--fondo-fin-de-semana);
}

.contenedor-dias .dia-semana.sabado {
    background-color: var(--fondo-dias-semana);
    
}


.contenedor-dias .dia-semana.domingo { 
    border:none;
    color: var(--blanco);
    background-color: rgb(255, 0, 0);
}


.start-day {
    grid-column-start: 4;
}  

.contenedor-dias .otro-mes {
    background-color: var(--fondo-otro-mes);
    border:1px dashed var(--borde-otro-mes);
}


 .dia-semana::before {
    content: attr(data-full);
}


@media screen and (max-width: 991px) { 
     
    .dia-semana::before {
        content: attr(data-med);
    }

    .contenedor-dias  span {
        line-height: 3rem;
        font-size: 3rem;
    }
}

@media screen and (max-width: 767px) {
   
    .dia-semana::before {
        content: attr(data-short);
    }

    .contenedor-dias  span {
        line-height: 2rem;
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 400px) {
    .numero-semana {
        display: none;
    }
    
    .dia-semana::before {
        content: attr(data-short);
    }

    .contenedor-dias  span {
        line-height: 1.5rem;
        font-size: 2rem;
    }
}




 /* 
    OSCURECER MEZCLANDO NEGRO
    background: color-mix(in srgb, #09f 90%, black 10%);
  
    ACLARAR MEZCLANDO BLANCO
    border-color: color-mix(in srgb, #09f 90%, white 10%);

  */