* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    --fondo-dias-semana : #09f;
    --fondo-celda-laboral: color-mix(in srgb, var(--fondo-dias-semana) 20%, white 80%);
    --fondo-numero-semana: color-mix(in srgb, var(--fondo-dias-semana) 50%, yellow 50%);
    --fondo-fin-de-semana:lemonchiffon;
    --fondo-otro-mes: #f3f1f1ca;
    --borde-otro-mes: #888;
    --festivo : red;
    --blanco: white;
    display:flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.cabecera {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}
 
.contenedor {
    display: flex;
    gap: 3px;
    border:3px solid rgb(128, 0, 0);
    box-sizing: border-box;
    flex: 1;
}

.contenedor > span {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  var(--fondo-numero-semana);
}


.festivo {
    color: var(--festivo);
    border:1px dashed var(--festivo);
}

.numero-semana {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3px;

    & span {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        background-color:  var(--fondo-numero-semana);
    }

}

    .numero-semana span:first-child {
        display: flex;
        align-items: center;
        align-content: center;
        height: 80px;

    }

.contenedor-dias {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 22px repeat(5, 1fr);
    height: 100%;
    width: 100%;
    gap: 3px;
    font-weight: 700;
 
    span {
        line-height: 3.5rem;
        background-color: var(--fondo-celda-laboral);
        font-size: 4rem;
        margin:0;
        padding-left: 5px;
        
    }

    & .dia-semana {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
        background-color: var(--fondo-dias-semana);
        font-size: 1.5rem;
        color: var(--blanco)
    }
}



.contenedor-dias span:nth-of-type(7n) {
    color: var(--festivo);
    background-color: var(--fondo-fin-de-semana);
    border:1px dashed var(--festivo);
}

.contenedor-dias :nth-of-type(6),
.contenedor-dias :nth-of-type(13),
.contenedor-dias :nth-of-type(20),
.contenedor-dias :nth-of-type(27),
.contenedor-dias :nth-of-type(34),
.contenedor-dias :nth-of-type(41) {
    background-color: var(--fondo-fin-de-semana);
}

.dia-semana.sabado, 
.contenedor-dias .dia-semana.domingo {
    background-color: var(--fondo-dias-semana);
}


.start-day {
    grid-column-start: 4;
}  

.contenedor-dias .otro-mes {
    background-color: var(--fondo-otro-mes);
    border:1px dashed var(--borde-otro-mes);
}


 .dia-semana::before {
    content: attr(data-full);
}


@media screen and (max-width: 991px) {   
    .dia-semana::before {
        content: attr(data-med);
    }
}

@media screen and (max-width: 767px) {

    
    .dia-semana::before {
        content: attr(data-short);
    }
}


 /* 
    OSCURECER MEZCLANDO NEGRO
    background: color-mix(in srgb, #09f 90%, black 10%);
  
    ACLARAR MEZCLANDO BLANCO
    border-color: color-mix(in srgb, #09f 90%, white 10%);

  */