*, ::after, ::before {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.article-container {
    width: 300px;
    margin: 80px auto;
    filter: drop-shadow(0 0 6px black);
    overflow: hidden;
    resize: horizontal;
}

.article{
    width: 100%;
}

.article_img {
    width: 100%;
    aspect-ratio: 2/1.5;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}

.article__text {
    padding: 2rem;
    background-color: white;
    border-radius: 30px;

    position: relative;
    top: -30px;
}

.article__title {
    font-size: 2rem;
}

.article__paragraph {
    margin-top: 1rem;
}